* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;

  grid-template-rows: repeat(3, 30vh);
  gap: 2px 2px;
}

.col {
  background-color: rgb(178, 197, 214);
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.3rem;
}
/* 3. parca */

.col3 {
  text-align: right;
  display: inline-block;
}
.col3 a {
  padding: 1rem 0.5rem;
}
.col3 a:nth-child(3) {
  vertical-align: middle;
}

button {
  background-color: blue;
  color: white;
}

/*2. parca */
.col2 .kapsayici1 {
  background-color: white;
}

.col2 .kapsayici1 .google-image {
  background-color: aqua;
}

.col2 .kapsayici1 .search-button {
  background-color: purple;
  margin-bottom: 30px;
}
.arama-buton a {
  background-color: gray;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
